<!doctype html>
<html lang="en" ng-app="euroWeatherApp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Europe Weather App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="style/weatherApp.css">
</head>

<body>
  <div id="mainContainer" ng-controller="appController as ctrl" ng-cloak ng-init="ctrl.onPageLoad()">
    <div ng-include="ctrl.templatePath + 'weatherAppHeaderCard.html'"></div>
    <weather-widget ng-repeat="location in ctrl.locations"
    configuration="ctrl.defaultWeatherWidgetConfiguration"
    location-data="location"
    location-weather-data="ctrl.currentWeatherMap[location.city_code]"
    refresh-current-weather="ctrl.getCurrentWeatherData(location.city_code,location.country_code)"
    get-forecast-weather-details="ctrl.getForecastWeatherData(location.city_code,location.country_code)"/>

    <button class="" ng-click="ctrl.getCurrentWeatherData()">Get London Weather</button>
    <button class="" ng-click="ctrl.getForecastWeatherData()">Get Forecast London Weather</button>
    <div class="">{{ctrl.rawResponse}}</div>
  </div>
  <!-- Scripts here. Don't remove ↓ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular.min.js"></script>
  <script src="scripts/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <script src="scripts/weatherApp.renderers.js"></script>
  <script src="scripts/weatherApp.action.js"></script>
  <script src="scripts/weatherApp.constants.js"></script>
</body>
</html>
